In [28]:
## Assignment1

#Task 1 Question 2
welcome_msg="Hello iNeuron ! Jupyter Setup Completed !!!!!"
print(welcome_msg)

Hello iNeuron ! Jupyter Setup Completed !!!!!

In [4]:
#Task 1 Question 2
nums=[]

for i in range(2000, 3200):
    if(i%7==0 and i%5!=0):
        nums.append(str(i))
        
print("Numbers between 2000 and 3200 which are divisible by 7 but not multiples of 5 are \n")        
print(','.join(nums))

Numbers between 2000 and 3200 which are divisible by 7 but not multiples of 5 are

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [11]:
#Task 1 Question 3

first_name=input("Enter First Name : ")
last_name=input("Enter Last Name : ")

print(last_name+" "+first_name)

Enter First Name : Shishir
Enter Last Name : Kudchadker
Kudchadker Shishir

In [15]:
#Task 1 Question 4

diameter=12
radius=diameter/2
pi=22/7
Volume=4/3*pi*radius**3

print("Volume of a Sphere with Diameter 12cm is : %.2f " % (Volume))

Volume of a Sphere with Diameter 12cm is : 905.14

In [32]:
# Task 2 Question 1

numbers=str(input("Enter comma separated numbers "))
print(type(numbers))

numtolist=numbers.split(',')
num_int_list=[]

for i in range(0,len(numtolist)):
    num_int_list.append(int(numtolist[i]))
    
print(num_int_list)
print(type(num_int_list))

Enter comma separated numbers 1,2,3,4,5
<class 'str'>
[1, 2, 3, 4, 5]
<class 'list'>

In [20]:
#Task 2 Question 2
maxstars=5
star_list_inc=[]
for i in range(1,maxstars+1):
    star_list_inc.append("*"*i)
print("\n".join(star_list_inc))

star_list_dec=[]
for j in range(maxstars-1,0,-1):
    star_list_dec.append("*"*j)
print("\n".join(star_list_dec))

*
**
***
****
*****
****
***
**
*

In [24]:
#Task 2 Question 3
word=input("Enter Word to Reverse: ")
print("Input "+word)
print("Output "+word[::-1])

Enter Word to Reverse: AcadGild
Input AcadGild
Output dliGdacA

In [27]:
#Task 3 Question 4
print("WE, THE PEOPLE OF INDIA,")
print("\r     having solemnly resolved to constitute India into a SOVEREIGN, !")
print("\r            SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC")
print("\r             and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
     having solemnly resolved to constitute India into a SOVEREIGN, !
            SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
             and to secure to all its citizens